<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Kim Torberntsson</title>
	<link rel="stylesheet" href="../stylesheets/reset.css" />
	<link rel="stylesheet" href="../stylesheets/text.css" />
	<link rel="stylesheet" href="../stylesheets/main.css" />
	<link rel="stylesheet" href="../stylesheets/photos.css" />
	<link href="../lightbox/css/lightbox.css" rel="stylesheet" />
	<script type="text/javascript" src="../scripts/jquery/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="../scripts/smooth-scroll.js"></script>
	<script src="../lightbox/js/lightbox.min.js"></script>
</head>

<body>
	<header id="header">
		<nav>
			<ul>
				<li><a href="../index.html"><img class="navicon" src="../images/home.svg" /></a></li>
				<li><a href="cv.html"><img class="navicon" src="../images/cv.svg" /></a></li>
				<li><a href="photos.html"><img id="active" class="navicon" src="../images/photos.svg" /></a></a></li>
			</ul>
		</nav>
		<div id="arrow-down">
			<a href="#main">
				<img src="../images/arrow-down.png" />
			</a>
		</div>
	</header>
	<main id="main">
		<div id="arrow-up">
			<a href="#header">
				<img src="../images/arrow-up.png" />
			</a>
		</div>
		<div id="photos">
			<h1>Photos</h1>
			<a href="../photos/images/img1.jpg" data-lightbox="images" data-title="Bird portrait"><img class="thumb" src="../photos/thumbs/img1.jpg" /></a>
			<a href="../photos/images/img2.jpg" data-lightbox="images" data-title="Portrait of my beautiful sister Frida"><img class="thumb" src="../photos/thumbs/img2.jpg" /></a>
			<a href="../photos/images/img3.jpg" data-lightbox="images" data-title="Dog portrait"><img class="thumb" src="../photos/thumbs/img3.jpg" /></a>
			<a href="../photos/images/img4.jpg" data-lightbox="images" data-title="Mattias and Linn kissing"><img class="thumb" src="../photos/thumbs/img4.jpg" /></a>
			<a href="../photos/images/img5.jpg" data-lightbox="images" data-title="Bamse sleeping"><img class="thumb" src="../photos/thumbs/img5.jpg" /></a>
			<a href="../photos/images/img6.jpg" data-lightbox="images" data-title="Wet flower"><img class="thumb" src="../photos/thumbs/img6.jpg" /></a>
			<a href="../photos/images/img7.jpg" data-lightbox="images" data-title="Minna looking down on me"><img class="thumb" src="../photos/thumbs/img7.jpg" /></a>
			<a href="../photos/images/img8.jpg" data-lightbox="images" data-title="Amanda Mair on stage"><img class="thumb" src="../photos/thumbs/img8.jpg" /></a>
			<a href="../photos/images/img9.jpg" data-lightbox="images" data-title="Love and rings"><img class="thumb" src="../photos/thumbs/img9.jpg" /></a>
			<a href="../photos/images/img10.jpg" data-lightbox="images" data-title="Piano"><img class="thumb" src="../photos/thumbs/img10.jpg" /></a>
			<a href="../photos/images/img11.jpg" data-lightbox="images" data-title="Frog portrait"><img class="thumb" src="../photos/thumbs/img11.jpg" /></a>
			<a href="../photos/images/img12.jpg" data-lightbox="images" data-title="Butterfly from behind (Photocredit: Mikaela Blom)"><img class="thumb" src="../photos/thumbs/img12.jpg" /></a>
			<a href="../photos/images/img13.jpg" data-lightbox="images" data-title="Vanligt Folk doing crazy stuff on stage"><img class="thumb" src="../photos/thumbs/img13.jpg" /></a>
			<a href="../photos/images/img14.jpg" data-lightbox="images" data-title="Concert with El Perro Del Mar"><img class="thumb" src="../photos/thumbs/img14.jpg" /></a>
			<a href="../photos/images/img15.jpg" data-lightbox="images" data-title="Macro picture of straw"><img class="thumb" src="../photos/thumbs/img15.jpg" /></a>
			<a href="../photos/images/img16.jpg" data-lightbox="images" data-title="Autumn calling"><img class="thumb" src="../photos/thumbs/img16.jpg" /></a>
			<a href="../photos/images/img17.jpg" data-lightbox="images" data-title="City of Prague"><img class="thumb" src="../photos/thumbs/img17.jpg" /></a>
			<a href="../photos/images/img18.jpg" data-lightbox="images" data-title="Hungry insect"><img class="thumb" src="../photos/thumbs/img18.jpg" /></a>
			<a href="../photos/images/img19.jpg" data-lightbox="images" data-title="After the olympics"><img class="thumb" src="../photos/thumbs/img19.jpg" /></a>
			<a href="../photos/images/img20.jpg" data-lightbox="images" data-title="Wintergatan on stage"><img class="thumb" src="../photos/thumbs/img20.jpg" /></a>
			<a href="../photos/images/img21.jpg" data-lightbox="images" data-title="Blurry butterfly"><img class="thumb" src="../photos/thumbs/img21.jpg" /></a>
			<a href="../photos/images/img22.jpg" data-lightbox="images" data-title="Olive Trees at Zakynthos"><img class="thumb" src="../photos/thumbs/img22.jpg" /></a>
			<a href="../photos/images/img23.jpg" data-lightbox="images" data-title="Zakynthos landscape"><img class="thumb" src="../photos/thumbs/img23.jpg" /></a>
			<a href="../photos/images/img24.jpg" data-lightbox="images" data-title="Minna looking awesome in glasses (Photocredit: Mikaela Blom)"><img class="thumb" src="../photos/thumbs/img24.jpg" /></a>
		</div>
	</main>
	<footer>
	    <div id="links">
			<ul>
				<li><a href="https://www.facebook.com/kim.torberntsson"><img class="icon" src="../images/facebook.svg" /></a></li>
				<li><a href="https://twitter.com/KimTorberntsson"><img class="icon" src="../images/twitter.svg" /></a></li>
				<li><a href="https://github.com/KimTorberntsson"><img class="icon" src="../images/github.svg" /></a></li>
				<li><a href="http://instagram.com/kimtorberntsson"><img class="icon" src="../images/instagram.svg" /></a></li>
				<li><a href="http://kimtorberntsson.tumblr.com"><img class="icon" src="../images/tumblr.svg" /></a></li>
				<li><a href="mailto:kimtorberntsson@gmail.com"><img class="icon" src="../images/mail.svg" /></a></li>
			</ul>
		</div>
	</footer>
</body>

</html>